



.login-btn{
    width: 100px;
    height: 40px;
    background-color:  #d8c8cc;
    color: #f5f5f5;
    // padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;

    :hover{
        background-color: #3c3737;
        color: #181516;
    }
}